/* Badge admin */
.admin-badge {
    background: red;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 12px;
}

/* Làm nền hơi khác admin */
body {
    background-color: #fff5f5;
}